

/* Estilos básicos (opcional) */
body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0;
    line-height: 1.6;
    background-color:beige;
    
    
}
h1{
    color: white;
}
header{
    display:flex;
    background-color: blueviolet;
    border-radius:2%;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 3px 5px;

}
@media(max-width:500px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }

}